{% extends 'courses/base.html' %}

{% block title %}Course Details{% endblock %}

{% block content %}

  <!-- <img src="{{ course.logo }}" /> -->
  <h1>{{ course.title }}</h1>
  <h3>{{ course.author }}</h3>

  {% if course.modules %}
    {% for module in course.modules.all %}
      <p><strong>{{ module }}</strong></p>
      {% if module.lessons %}
        {% for lesson in module.lessons.all %}
          <p><a href="">{{ lesson }}</a></p>
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% else %}
    <p>No Module found...</p>
  {% endif %}

  <h3>URL: {{ course.get_absolute_url }}</h3>

  {% if error_message %}
      <p><strong>{{ error_message }}</strong></p>
  {% endif %}

  <!-- <ul>
    {% for lesson in course.lesson_set.all  %}
      <li>{{ lesson.title }} - {{ lesson.file_type }}</li>
    {% endfor %}
  </ul> -->

{% endblock %}
